# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports
report.*.json

# Runtime data
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build output
dist/
build/
.cache/
.parcel-cache
.serverless/

# Local environment variables
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp

# TypeScript cache
*.tsbuildinfo

# ESLint/Stylelint cache
.eslintcache
.stylelintcache

# Chrome Extension specific
*.crx
*.pem

# Output of 'npm pack'
*.tgz

# Optional REPL history
.node_repl_history

